/* HomePage.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Archivo+Black&family=Lilita+One&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Rowdies:wght@300;400;700&family=Spicy+Rice&family=Unbounded:wght@200..900&display=swap');

/* fonts */
.svg{
  height: 25px;
  width: 25px;
  background-color: #4d6957;
  color:#a23026;
}
h1 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

h2 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h3 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h4 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h5 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

h6 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



p {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.unbounded-uniquifier-p2 {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 150;
  font-style: normal;
}

.list-group-item {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.card-link {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.button {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.list {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.navbar {
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.header {
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem 2rem; */
}

.page-top-left,
.page-top-right {
  font-size: 0.9rem;
}

.header-section {
  margin: auto;
  display: flex;
  justify-content: center;
}

.header-section .card {
  /* background: linear-gradient(45deg, #fde2c0, #F7C0C4, #f6b6c5, #ed8aca, #B162F5); */
  background: linear-gradient(60deg, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f);
  background-size: 200% 100%;
  animation: gradientWave 20s ease infinite;
  transition: background-color 0.3s, color 0.3s;
  align-items: center;
  justify-content: center;
  height: 600px;
  color: #fbfbc4;
  display: block;
  width: auto;
  font-family: 'Archivo Black', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  margin: 20;
}

.header-icon {
  rotate: 270deg;
  width: 100px;
  height: 100px;
  max-width: 100%;
}

@media (max-width: 768px) {
  .header-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 480px) {
  .header-icon {
    width: 40px;
    height: 40px;
  }
}

.portfolio-title {
  font-size: clamp(2rem, 7vw, 8rem);
  font-weight: 900;
  /* color: #fd5243; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow:
    #c1392d 10px 15px 1px, #a23026 20px 25px 0px, #82271e 30px 35px 0px, #4c1713 40px 45px 0px !important;
}

.portfolio-footer {
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  /* margin-top: 2rem; */
  font-size: 1.0rem;
  color: #a23026;
  /* match existing card text color */
  font-family: 'Archivo Black', sans-serif;
  font-weight: 300px;
  text-align: center;
  opacity: 0.85;

}


@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 25%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 75%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.intro-img .card {
  padding: 0%;
}

.intro-sidebar {
  /* border: 2px solid #706d42; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 10px;
  min-width: 80px;
  max-width: 150px;
}

.intro-sidebar2 {
  /* border: 2px solid #706d42; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  min-width: 80px;
  max-width: 150px;
}

@media (max-width: 576px) {
  .header-section {
    overflow-x: auto;
  }
}

/* .sidebar-text{
    rotate: -90deg;
    justify-content: center;
    position: absolute;
    right: .1rem;
    display: flex;
    margin-top:275px;
    align-items: center;
    justify-content: center;
    text-shadow:
      #c1392d 10px 15px 1px, #a23026 20px 25px 0px, #82271e 30px 35px 0px, #4c1713 40px 45px 0px !important;

} */
.gen-card {
  background: #4d6957;
  backdrop-filter: blur(10px);
  border: none;
  color: #BACA8B;

  .card-title {
    color: #d4d4a7;
    text-shadow:
      #c1392d 1px 1px 0px
  }

}

.get-in-touch .card {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  background: linear-gradient(45deg, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f);
  background-size: 200% 100%;
  animation: gradientWave 10s ease infinite;
  transition: background-color 0.3s, color 0.3s;
}

.intro-section {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  padding: 10px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.get-in-touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.icons {
  color: #c1392d;
}

.icons:hover {
  color: #BACA8B;
  transform: scale(1.1);

}

.custom-tabs {
  /* margin: 0 auto; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* flex-direction: column; */
}

.custom-tabs .nav-link:hover {
  /* background: #d0e0a2; */
  /* color: #d0e0a2; */
  background: linear-gradient(45deg, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f);
  background-size: 200% 100%;
  animation: gradientWave 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  transition: background-color 0.3s, color 0.3s;
  transform: scale(1.1);
  /* transition: all 0.3s ease; */
  transition: transform 0.4s cubic-bezier(0.25, 1.25, 0.5, 1), background-color 0.3s, color 0.3s;

}

.custom-tabs .nav-link {
  color: #71997f;
  transition: background 0.5s ease, color 0.5s ease;
  display: inline-block;
  position: relative;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  /* transition: all 0.3s ease; */
  transition: transform 0.4s cubic-bezier(0.25, 1.25, 0.5, 1), background-color 0.3s, color 0.3s;


}

.custom-tabs .tab-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: transparent;
  color: #c1392d;
  transition: all 0.3s ease;

}

.custom-tabs .nav-link.active {
  background: linear-gradient(45deg, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f, #d0e0a2, #BACA8B, #71997f, #71997f);
  background-size: 200% 100%;
  animation: gradientWave 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: #4d6957 2px solid;

  /* background: #71997f; */
}

/*  */

.custom-tabs .nav-link.active .tab-icon {
  background-color: #c1392d;
  color: #fff;
}

.about-title {
  text-align: left;
  margin-bottom: 50%;
}

.about {
  align-content: center;
  padding: 1%;

}

#caption-img {
  justify-content: flex-end;
}

.resume {
  align-content: center;
  padding: 5%;
  margin: auto;
  /* display: flex; */
  /* flex-direction: column; */
}

.qualifications .card {
  padding: 20px;
}

.education .card {
  padding: 20px
}

.education {
  border: 2px solid #706d42;
  /* border-radius: 12px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.expertise {
  margin-left: 2px;
  margin-right: 2px;
  border: 2px solid #706d42;
  border-radius: 15px;
}

.expirience {
  border: 2px solid #706d42;
  /* border-radius: 12px; */
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

}

.certificates {
  border: 2px solid #706d42;
  /* border-radius: 12px; */
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.project-card {
  border: 2px solid #706d42;
  background: transparent !important;
  margin: 12px;

  .card-title {
    color: #71997f;

  }

  .card-text {
    color: #a33127;
  }
}

.project-card-l {
  padding: 15px;
  height: fit-content;
  border: 2px solid #706d42;
  background: transparent !important;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #c4382c;

  .card-text {
    color: #71997f;
  }
}

.project-card-r {
  padding: 15px;
  height: fit-content;
  border: 2px solid #706d42;
  background: transparent !important;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #c4382c;

  .card-text {
    color: #71997f;
  }

}

.carousel-image {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.badge-color {
  background-color: #71997f;
  color: #3a4340;
}

.outer-carousel {
  .carousel-control-prev {
    left: -70px;
    margin-left: 5px;
    filter: brightness(0.8);
    opacity: 0.7;
    z-index: 1;
    width: 5%;
  }

  .carousel-control-next {
    right: -70px;
    margin-right: 5px;
    filter: brightness(0.8);
    opacity: 0.7;
    z-index: 1;
    width: 5%;
  }
}

.inner-carousel {
  background-size: 70% 70%;

  .carousel-control-prev {
    left: 15px;
    filter: brightness(0.8);
    opacity: 0.7;
    z-index: 1;
    width: 5%;
  }

  .carousel-control-next {
    right: 15px;
    filter: brightness(0.8);
    opacity: 0.7;
    z-index: 1;
    width: 5%;
  }
}

.work {
  padding: auto;
  margin: auto;
  justify-content: center;
}