.collapse {
  transition: max-height 0.5s ease-in-out;
  max-height: 0;
}

.collapse.show {
  max-height: 500px;
}

.navbar-collapse {
  padding-left: 20px;
}
.navbar {
  /* position: absolute; */
  /* Ensures it overlays the hero section */
  top: 0px;
  left: 0;
  /* right: 0; */
  width: auto;
  /* Full width of the header */
  z-index: 10;
  /* background-color: #ffffff !important; */
  border: none !important;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin: 5px;
}

/* Navbar styles for light mode */
body.light .navbar {
  background-color: #ffffff !important; /* White background */
  color: #000000 !important; /* Dark text */
  transition: background-color 0.3s, color 0.3s;
}

body.light .navbar .navbar-brand,
body.light .navbar .nav-link {
  color: #000000 !important; /* Dark text */
}

body.light .navbar .nav-link:hover {
  color: #b4ef7c !important;
}

/* Navbar styles for dark mode */
body.dark .navbar {
  background-color: #212529 !important; /* Dark background */
  color: #ffffff !important; /* Light text */
  transition: background-color 0.3s, color 0.3s;
}

body.dark .navbar .navbar-brand,
body.dark .navbar .nav-link {
  color: #ffffff !important; /* Light text */
}

body.dark .navbar .nav-link:hover {
  color: #17a2b8 !important; /* Bootstrap info color */
}

/* Navbar toggler for mobile view */
body.light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.2);
}

body.dark .navbar-toggler {
  border-color: rgba(255, 255, 255, 0.5);
}
body.dark .custom-collapse-icon {
  background-color: #b4ef7c;
  transition: background-color 0.3s, color 0.3s;
}
body.dark .custom-collapse-icon .navbar-toggler-icon {
  background-color: #b4ef7c;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

body.light .custom-collapse-icon {
  border-color: #95c6a9; 
  background-color: #17a2b8; 
  transition: background-color 0.3s, color 0.3s;
}
body.light .custom-collapse-icon .navbar-toggler-icon {
  background-color: #17a2b8; 
  border-radius: 5px; 
  transition: background-color 0.3s, color 0.3s;
}
body.dark .custom-dropdown {
  cursor: pointer;
}
body.light .custom-dropdown{
  cursor: pointer;
}
body.dark .custom-dropdown-item{
  background-color: #212529;
  color: #ffffff;
}
body.dark .dropdown-menu{
  background-color: #212529; 
  border: #ffffff;
  transition: max-height 0.5s ease-in-out;

}
body.light .dropdown-menu{
  transition: max-height 0.5s ease-in-out;

}
body.light .custom-dropdown-item:hover{
  color: #b4ef7c;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

}
body.dark .custom-dropdown-item:hover{
  color: #17a2b8;
  transform: scale(1.1);
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;

}
