/* body.light {
  background: linear-gradient(45deg,#fde2c0, #F7C0C4, #f6b6c5, #ed8aca, #B162F5);
  background: linear-gradient(45deg,#e2b86a,#e2ac48,#ffa500, black);
  background-size: 400% 400%;
  animation: gradientWave 15s ease infinite;
  transition: background-color 0.3s, color 0.3s;

} */

body.dark {
  background: linear-gradient(45deg, #8E706A, #755B6B, #0F3A90, #008888);
  background-size: 400% 400%;
  animation: gradientWave 15s ease infinite;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

/* Gradient wave animation keyframes */
@keyframes gradientWave {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 25%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 75%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  color:#fbfbc4;
  background-color: #1a1a1b;
} */

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures full viewport height */
}

.content {
  flex-grow: 1; /* Pushes the footer down */
}

 body{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  /* color:#706d42; */
  /* color:#b4ef7c; */
  color: #c4382c;
  background-color: #1a1a1b;

 }


/* transpareent frosted card */
/* .card{
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3); 
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  color: white;
  button{
    background: rgba(255, 255, 255, 0.15);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background: rgba(249, 208, 74, 0.3);
    }
  }
} */
.card{
  /* background: #71997F; */
  background:#4d6957;
  backdrop-filter: blur(10px);
  border: none; 
  color: #BACA8B;
  .card-title{
    color: #a33127;
  }
  /* .card-text {
    text-shadow:#8a9566 1px 1px 1px;
  } */
  /* .card-p{
    text-shadow:#8a9566 1px 1px 1px;
  } */
}
.visit{
    background: #4d6957;
    color: #BACA8B;
    /* border: 1px solid #fbfbc452; */
    border-radius: 12px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background: #baca8bbb;
      color:#000000;
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
}


body.light h1 {
  transition: background-color 0.3s, color 0.3s;

}

body.dark h1 {
  transition: background-color 0.3s, color 0.3s;

}

body.light h2 {
  transition: background-color 0.3s, color 0.3s;
}

body.dark h2 {
  color: #b4ef7c;
  transition: background-color 0.3s, color 0.3s;
}

/* body.light .card {
  background-color: #ffffff85;
  backdrop-filter: blur(10px);
  color: #000000;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
} */

/* Card styles for dark mode */
body.dark .card {
  /* background-color: #212529; */
  background-color: #21252979;
  backdrop-filter: blur(10px);
  color: #ffffff;
  box-shadow: 0px 5px 10px #000000b3;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s, color 0.3s;
}

body.light .card .list-group-item {
  background-color: #ffffff85;
  /* White background */
  color: #000000;
  /* Dark text */
  border-color: #00000020;
  /* Default Bootstrap border */
  transition: background-color 0.3s, color 0.3s;
}

body.dark .card .list-group-item {
  background-color: #21252979;
    /* Dark background */
  color: #ffffff;
  /* Light text */
  border-color: #ffffff20;
  /* Adjusted border color */
  transition: background-color 0.3s, color 0.3s;
}

.list-group-item {
  border: none !important;
}

body.dark #contact {
  background-color: #21252979;
  transition: background-color 0.3s, color 0.3s;
}

body.light #contact {
  background-color: #ffffff85;
  backdrop-filter: blur(10px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  transition: background-color 0.3s, color 0.3s;
}

body.dark #skills {
  background-color: #21252979;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, color 0.3s;
}

body.light #skills {
  background-color: #ffffff85;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  transition: background-color 0.3s, color 0.3s;
}

/* Light mode */
body.light .carousel-indicators button {
  background-color: #212529;
  /* Dark indicators for light mode */
  opacity: 0.5;
  /* Slightly transparent */
}

body.light .carousel-indicators button.active {
  background-color: #212529;
  /* Fully dark for active indicator */
  opacity: 1;
}

body.dark .carousel-indicators button {
  background-color: #ffffff;
  /* White indicators for dark mode */
  opacity: 0.5;
}

body.dark .carousel-indicators button.active {
  background-color: #f8f9fa;
  /* Light gray for active indicator */
  opacity: 1;
}

/* Light Mode */
body.light .carousel-control-prev-icon,
body.light .carousel-control-next-icon {
  filter: invert(1);
  /* Default dark arrows */
}

/* Dark Mode */
body.dark .carousel-control-prev-icon,
body.dark .carousel-control-next-icon {
  filter: invert(0);
  /* Invert to white for dark mode */
}