 body{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-weight: bold;
  color: #c4382c;
  background-color: #1a1a1b;

 }
/* .card{
  background:#4d6957;
  backdrop-filter: blur(10px);
  border: none; 
  color: #BACA8B;
  .card-title{
    color: #a33127;
  }

} */
.visit{
    background: #4d6957;
    color: #BACA8B;
    /* border: 1px solid #fbfbc452; */
    border-radius: 12px;
    padding: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover{
      background: #baca8bbb;
      color:#000000;
      transform: scale(1.05);
      transition: all 0.3s ease;
    }
}

